@use 'tailwindcss/base';
@use 'tailwindcss/components';

// components layer
@use './fonts.scss';
@use './app-utilities.scss';
@use './global.scss';
@use './layouts/sidebar-layout.scss';
@use './layouts/default-layout.scss';
@use './app-components.scss';
@use './wysiwyg.scss';

@use 'tailwindcss/utilities';
