@layer utilities {
  svg.MuiSvgIcon-root,
  .MuiSvgIcon-root.material-icon {
    user-select: none;
    font-size: 1.25em;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
  }

  .custom-scroll {
    @apply scrollbar scrollbar-h-5 scrollbar-thumb-gray-300 scrollbar-track-gray-100 scrollbar-thumb-rounded-full scrollbar-track-rounded-full;
  }

  .shadow-top:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    display: block;
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to top, currentColor 0, transparent);
  }

  .shadow-top-block:before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    display: block;
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to top, currentColor 50%, transparent);
  }

  .blocked {
    &-blue,
    &-green {
      @apply py-md px-md md:py-[33px] md:px-[60px] rounded;
    }

    &-blue {
      @apply bg-blue-light;
    }

    &-green {
      @apply bg-green-light;
    }
  }

  .overflow-anywhere {
    overflow-wrap: anywhere;
  }
}
