.DefaultLayout {
  .main-container {
    @apply flex;

    main {
      @apply flex-grow w-full;
    }
  }

  .next-link-a {
    @apply sr-only bg-primary-light text-white w-fit border-2 border-black inline-block text-center;
    @apply focus:not-sr-only focus:z-50 focus:p-10 focus:absolute focus:top-0 focus:left-0 focus:right-0 focus:m-auto focus:w-fit;
  }

  .TabMenu {
    .SearchBar {
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      max-width: 460px;
    }
  }
}
