/* Wysiwyg- */
.RaRichTextInput-editorContent factblock {
  display: block;
  position: relative;
  padding: 20px;
  background: rgb(240, 244, 247);
  border-radius: 15px;
}

.RaRichTextInput-editorContent sitenavigationbutton {
  display: inline-block;
  position: relative;
  padding: 10px 50px 10px 30px;
  border-radius: 1000000px;
  color: white;
  background: rgb(101, 90, 252);
}
/*-Wysiwyg */
