@layer components {
  .sk-form {
    &-field,
    &-input {
      @apply rounded-[.8rem] border-[#16262D] px-[2.2rem] min-h-[5rem];

      &.sk-form-input-md {
        @apply rounded-[.8rem];
      }

      &:focus {
        @apply border-black focus-classes;
      }
    }
    &-label {
      @apply leading-[1.8rem] mb-[1.1rem] font-normal;
    }

    &-error-message {
      @apply text-error;
    }

    &-control {
      @apply gap-0;
    }

    &-radio {
      @apply w-[1.6rem] h-[1.6rem] border-2 border-border-color;

      &:checked,
      &:checked:focus {
        @apply border-blue;
      }
      &:checked::after,
      &[checked='true']::after {
        @apply bg-blue m-[.2rem];
      }

      &:hover {
        &:checked {
          @apply border-blue;
        }

        &::after {
          @apply m-[.2rem] bg-blue;
        }
      }
    }

    &-checkbox {
      &,
      + .sk-icon.sk-icon-padded {
        @apply rounded-[.3rem] w-[2rem] h-[2rem] p-0 border-2 border-border-color;
      }

      &:focus {
        @apply ring-border-color;
      }

      &:checked,
      &:checked:hover,
      &:checked:focus {
        + .sk-icon.sk-icon-padded {
          @apply text-white bg-blue border-blue fill-blue;
        }
      }
      &-label {
        &-right {
          .sk-form-checkbox-label {
            @apply ml-sm;
          }
        }
        &-left {
          .sk-form-checkbox-label {
            @apply mr-sm;
          }
        }
      }
    }

    &-select {
      @apply rounded-[.8rem];
      @apply bg-white;

      &:focus {
        @apply border-black focus-classes;
      }
    }
  }

  // dropdown-select
  .educations-filter-popupbutton {
    @apply rounded-[.8rem];
    @apply min-h-[5rem] max-h-[5rem] w-full border border-border-color justify-start;

    .sk-btn-has-icon-right {
      @apply absolute right-sm rotate-90;
    }

    & + .sk-popup-menu {
      @apply w-full;
    }

    &:hover {
      @apply border-border-color;
    }

    &[aria-expanded='true'] {
      .sk-btn-has-icon-right {
        @apply -rotate-90;
      }
    }
  }
}
