@layer components {
  .searchbar {
    @apply flex w-full;
    [aria-expanded='true'] {
      .sk-form-input-group {
        @apply rounded-bl-none;
      }

      .sk-form-combobox {
        &-list {
          @apply mt-0 p-0 rounded-t-none bg-white;

          &-option {
            @apply px-[2rem] rounded-none min-h-[4.4rem] max-h-[4.4rem];

            &:hover,
            &.active {
              @apply bg-green text-white;
            }
          }

          .sk-icon {
            @apply hidden;
          }
        }
      }
    }

    .sk-form-input {
      @apply w-full;
    }

    .sk-combobox-base {
      @apply grow;

      &,
      &:focus,
      &:focus-within {
        @apply grow ring-0 ring-transparent outline-0 outline-transparent;
      }

      .sk-form-input {
        @apply rounded-l-full -mt-1;

        &:focus {
          @apply outline-0 focus-classes py-sm;
        }
      }

      .sk-form-input-addin-right {
        @apply -ml-48;
      }

      .sk-form-input[value=''] + .sk-form-input-addin-right {
        @apply -ml-26;
      }
    }

    .sk-search-field {
      .sk-search-field-base-icon {
        @apply hidden;
      }

      .sk-form-input-group {
        @apply min-h-[5rem] max-h-[5rem] items-stretch border-1 border-border-color rounded-r-none border-r-0;

        &:not(:invalid):not([aria-invalid='true']):focus-within {
          @apply border-border-color ring-0;
        }

        .sk-form-input {
          @apply px-[2.2rem];
          &-addin {
            &-right {
              @apply pr-[1.6rem];
            }
          }
        }

        .sk-search-field-button-reset[data-icon='true'] {
          @apply w-[2.2rem] h-[2.2rem] min-w-0 bg-background-gray text-white hover:bg-green focus-visible:bg-green;

          svg {
            @apply w-[1em] h-[1em] text-sm #{!important};
          }
        }
      }
    }

    .searchbar {
      &-button {
        &-search {
          @apply pl-[1.8rem] pr-[2.4rem] text-large font-medium  min-h-[5rem] max-h-[5rem] rounded-l-none;
          &[data-color='primary'] {
            @apply text-white bg-black-light hover:underline hover:shadow-none hover:bg-black-light;
          }
        }
      }
    }
  }
}
